* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho {
    display: flex;
    max-width: 1300px;
    margin: auto;
    margin-top: 10px;
}

.titulo {
    color: black;
    font-size: 23px;
}

.menuprincipal {
    margin-left: 800px;
}
.menu {
    display: flex;
}

.links {
    color: black;
    text-decoration: none;
    margin-right: 15px;
    list-style: none;
    font-size: 20px;
}

.apresentacao {
    max-width: 700px;
    margin: auto;
    margin-top: 115px;
    margin-bottom: 200px;
}

.informacoes {
    display: flex;
}

.informacoespessoais {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.informacoestitulo {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.informacoesdescricao {
    font-size: 18px;
    margin-top: 20px;
    line-height: 23px;
    color: #808080;
}

.redesimage {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.imagem {
    width: 220px;
    border-radius: 50%;
    margin-left: 80px;
}

.imagem:hover {
    animation: shake 1s infinite ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
  
@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25%, 75% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
}

.portfolio {
    display: flex;
    margin-top: 20px;
}

.foto {
    flex: 1;
}

.tecnologias {
    margin-top: 70px;
    display: flex;
}

.titulotecnologias {
    margin-right: 40px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagemtecnologias {
    width: 40px;
    margin-right: 40px;
}

.sobremim {
    display: flex;
    max-width: 700px;
    margin: auto;
    margin-bottom: 200px;
}

.imagemilustra {
    width: 300px;
    border-radius: 10px;
    margin-right: 40px;
}

.sobretitulo, .portfoliotitulo, .contatotitulo {
    font-size: 15px;
    margin-bottom: 10px;
    color: blue;
}

.sobresemititulo, .portfoliodescricao, .contatosemititulo {
    font-size: 20px;
    margin-bottom: 10px;
}

.portfoliodescricao, .contatosemititulo {
    margin-bottom: 50px;
}

.sobredescricao {
    font-size: 17px;
    color: #808080;
    line-height: 20px;
}

.secaoport {
    max-width: 700px;
    margin: auto;
    margin-bottom: 100px;
}

.secaoport2 {
    max-width: 700px;
    margin: auto;
    margin-bottom: 200px;
}

.projetos {
    display: flex;
}

.projetoimagem {
    width: 400px;
    height: 250px;
    border-radius: 10px;
}

.projetoimagem2 {
    width: 430px;
    height: 350px;
    border-radius: 10px;
}

.projetodescricao {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.projetodescricao2 {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.projetotitulo {
    color: black;
    font-weight: bold;
    font-size: 23px;
    margin: auto;
    margin-bottom: 15px;
}

.projetosemititulo {
    color: #808080;
    font-size: 15px;
    margin: auto;
    margin-bottom: 15px;
    line-height: 20px;
}

.projetotecnologias {
    display: flex;
    margin: auto;
    margin-bottom: 50px;
}

.tecnologiausada {
    color: black;
    font-weight: bold;
    margin-right: 10px;
}

.projetoredes {
    display: flex;
}

.projetogit {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: auto;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projetoredesimagem {
    width: 30px;
    border-radius: 50%;
}

.secaocontatos {
    max-width: 700px;
    margin: auto;
    margin-bottom: 100px;
}

.contatosredes {
    display: flex;
}

.contatospessoais {
    display: flex;
    margin-right: 120px;
}

.contatospessoais2 {
    display: flex;
}

.contatosemail, .contatostelefone {
    display: flex;
    flex-direction: column;
}

.contatosfototelefone, .contatosfotoemail {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 20px;
}

.contatosredestitulo {
    color: black;
    font-weight: bold;
    margin-bottom: 15px;
}

.faixa {
    background-color: black;
    height: 80px;
}

.faixalocal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mensagemfinal {
    color: white;
    margin-right: 90px;
    margin-top: 20px;
} 

.redesimagemfinal {
    width: 40px;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 20px;
}